@charset "UTF-8";

body {
    background-color: rgb(241, 243, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: magenta; background-color: rgb(221, 232, 236);
}
h2 {
    color: rgb(22, 54, 236);
}
p {
    text-align: justify;
}